**/.DS_Store
**/__pycache__/
**/.mypy_cache/
venv/

# These are local directories that hold data for experimentation
data/
bigdata/
sli/

# MacOSX py2app directories
build/
dist/

# Windows installers that end up in the top-level directory
Install-WISER-*.exe

# This file contains secrets for distribution, DO NOT CHECK IN!
Secret.mk

src/wiser/profiling/output/