# Placeholder file, we set this file inside
# install-linux/appimage/install_wiser_appimage.sh
[Desktop Entry]
Type=Application
Name=WISER
Exec=WISER_Bin
Icon=wiser
Categories=Education;Science;
Terminal=true
