# Placeholder file, we set this file inside
# install-linux/appimage/install_wiser_appimage.sh
[Desktop Entry]
Type=Application
Name=Placeholder
Exec=Placeholder
Icon=Placeholder
Categories=Education;
Terminal=true
