# The logger in sphinx.ext.autodoc v9.1.0 broke enum_tools.autoenum
sphinx==8.2.3
pydata-sphinx-theme
myst-parser
sphinx-autodoc-typehints
sphinx-autodoc2
enum-tools[sphinx]
sphinx-book-theme
PySide2
