name: Build and Smoke Test WISER

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # macos-15 should be Apple silicon
        # macos-13 should be Intel
        # os: [windows-latest, macos-15, macos-13]
        os: [windows-latest] # , macos-15]
    runs-on: ${{matrix.os}}
    
    steps:
      - uses: actions/checkout@v4

      # Micromamba from prod lockfile (conda-lock)
      - name: Setup micromamba (prod)
        uses: mamba-org/setup-micromamba@v2
        with:
          # Using the latest version caused hanging when linking pixbuf library
          micromamba-version: '1.5.10-0'
          environment-file: etc/prod-conda-lock.yml
          environment-name: wiser-prod
          init-shell: >-
            bash
            powershell
          cache-environment: true
          cache-environment-key: wiser-prod-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('etc/prod-conda-lock.yml') }}
          cache-downloads: true
          log-level: debug
        timeout-minutes: 10

      # Build (per OS) using your Makefile targets
      - name: Build (Windows)
        if: runner.os == 'Windows'
        shell: bash -leo pipefail {0}
        run: |
          make build-win
          ls -la dist/WISER || true
        timeout-minutes: 15
        
      - name: Smoke Test (Windows)
        if: runner.os == 'Windows'
        shell: bash -leo pipefail {0}
        run: |
          cd dist/WISER
          ./WISER.exe --test_mode
        timeout-minutes: 20

      - name: Upload artifact Windows
        if: runner.os == 'Windows'
        uses: actions/upload-artifact@v4
        with:
          name: wiser-${{ runner.os }}-${{ runner.arch }}
          path: dist/**
        timeout-minutes: 20

      - name: Build (macOS)
        if: runner.os == 'macOS'
        shell: bash -leo pipefail {0}
        run: |
          make build-mac
          ls -la dist/WISER || true
        timeout-minutes: 25
        
      # - name: Smoke Test (macOS)
      #   if: runner.os == 'macOS'
      #   shell: bash -leo pipefail {0}
      #   run: |
      #     cd dist/WISER
      #     ./WISER_Bin --test_mode
      #   timeout-minutes: 20

      - name: Pack macOS .app (preserve symlinks & modes)
        if: runner.os == 'macOS'
        run: |
          tar -C dist -czf dist/WISER.app.tgz WISER.app
          ls
          ls ..
          pwd
          shasum -a 256 dist/WISER.app.tgz > dist/WISER.app.tgz.sha256
        timeout-minutes: 20

      - name: Upload artifact macOS
        if: runner.os == 'macOS'
        uses: actions/upload-artifact@v4
        with:
          name: wiser-${{ runner.os }}-${{ runner.arch }}
          path: |
            dist/WISER.app.tgz
            dist/WISER.app.tgz.sha256
        timeout-minutes: 20
