name: Run tests

on: [push]

jobs:
    run-tests:
        name: Run WISER Tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [windows-latest]

        steps:            
            - name: Checkout codebase
              uses: actions/checkout@v4

            - name: Setup Cached Conda Environment
              uses: actions/cache@v3
              env:
                    CACHE_NUMBER: 0
              with:
                path: ~/conda_pkgs_dir
                key:
                    ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
                    hashFiles('etc/testing.yml') }}

            - uses: conda-incubator/setup-miniconda@v3
              with:
                activate-environment: wiser-source
                environment-file: etc/testing.yml
                channels: conda-forge
                auto-activate-base: false
                use-only-tar-bz2: true # This needs to be set for caching to work properly\

            - name: Update environment
              run:
                conda env update -n wiser-source -f etc/testing.yml
              if: steps.cache.outputs.cache-hit != 'true'
            
            # - name: Setup pip dependencies
            #   uses: actions/setup-python@v5
            #   with:
            #     python-version: '3.9.21'
            #     cache: pip
            # - run: pip install -r requirements.txt
    
            - name: Go to test folder
              working-directory: "src\\tests"
              run: pwd